@model EntityLayer.Concrete.Blog

@{
    ViewData["Title"] = Model.Title;
    Layout = "~/Views/Shared/UserLayout.cshtml";
}

<section class="banner-bottom">
    <!--/blog-->
    <div class="container">
        <div class="row">
            <!--left-->
            <div class="col-lg-8 left-blog-info-w3layouts-agileits text-left">
                <div class="blog-grid-top">
                    <div class="b-grid-top">
                        <div class="blog_info_left_grid">
                            <a href="single.html">
                                <img src="@Model.Image" class="img-fluid" alt="">
                            </a>
                        </div>
                        <div class="blog-info-middle">
                            <ul>
                                <li>
                                    <a href="#">
                                        <i class="far fa-calendar-alt"></i> @Model.CreateDate.ToString("MMM dd .yyyy")
                                    </a>
                                </li>
                                <li class="mx-2">
                                    <a href="#">
                                        <i class="far fa-thumbs-up"></i> 201 Likes
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <i class="far fa-comment"></i> 15 Comments
                                    </a>
                                </li>

                            </ul>
                        </div>
                    </div>

                    <h3>
                        <a href="single.html">@Model.Title  </a>
                    </h3>
                    <p>
                        @Model.Description
                    </p>
                </div>
                @await Component.InvokeAsync("CommentList", new { id = Model.BlogId })

                @await Html.PartialAsync("~/Views/Comment/Add.cshtml", new Comment()
           {
               BlogId = Model.BlogId
           })
            </div>

            <!--//left-->
            <!--right-->
            <aside class="col-lg-4 agileits-w3ls-right-blog-con text-right">
                <div class="right-blog-info text-left">
                    <div class="tech-btm">
                        <img src="~/weblog/images/banner1.jpg" class="img-fluid" alt="">
                    </div>
                    <div class="tech-btm">
                        <h4>Haber bültenimize kaydolun</h4>
                        @await Html.PartialAsync("~/Views/Newsletter/Index.cshtml", new NewsletterById()
                       {
                       BlogId = Model.BlogId
                       })
                    </div>

                    @await Component.InvokeAsync("CategoryList")
                    @await Component.InvokeAsync("BlogListByWriter", new { id = Model.WriterId })
                    @await Component.InvokeAsync("BlogLastPost")
                </div>

            </aside>
            <!--//right-->
        </div>
    </div>
</section>
