@model EntityLayer.Concrete.Comment

<div class="comment-top">
    <h4>Yorum Yap</h4>
    <div class="comment-bottom">
        @using (Html.BeginForm("Add", "Comment", FormMethod.Post))
        {
            @Html.HiddenFor(x=>x.BlogId)

            @Html.TextBoxFor(x => x.UserName, new { @class = "form-control", @placeholder = "Adı Soyadı" })

            @Html.TextBoxFor(x => x.Title, new { @class = "form-control", @placeholder = "Konu" })

            @Html.TextAreaFor(x => x.Message, new { @class = "form-control", @placeholder = "Mesajınız" })

            <button type="submit" class="btn btn-primary submit">Gönder</button>
        }
    </div>
</div>